.container ol li{
    font-size: 1.4em;
    color: #cecece;   
    margin-left: 23%;
  }
  .title{
    text-align: center;
    color: #fff;
    border: 2px solid #00ff37;
    margin-left: 22%;
    margin-right: 22%;
    font-size: 3em;
  }

  .start{
    display: flex;
    justify-content: center;
    padding-top: 2em;
  }
  .start .btn{
    padding: .2em 1.7em;
    border: none;
    border-radius: .1em;
    font-size: 1.2em;
    color: #202020;
    text-decoration: none;
    background-color: #faff5a;
}
#form{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
#form .userid{
    padding: .5em 2em;
    width: 25%;
    border: none;
    border-radius: 2px;
    font-size: 1em;
}